.content{
    display: flex;
    flex-direction:column;
    flex: 1;
    justify-content: flex-end;
    
    height: 200px;
    
}

.delete {
    display:flex;
    justify-content:space-between;
    align-items: center;
    
    
    margin-top: auto;
}