.navbar {
  height: 50vh;
  position: relative;
  background: url("https://images.unsplash.com/photo-1616486029423-aaa4789e8c9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80")
    center center;
    background-size:100% 
}

.navbar_info {
  background-color: black;
  color: white;
  padding: 20vh 50px 50px 40px;
  width: 300px;
}

.navbar_search {
    display: flex;
    flex-direction: column;
}

.navbar_searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
    font-size: 15px !important;
}

.navbar_info > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.navbar_info > button:hover{
    background-color: white;
    color: #ff7779;
} 

.navbar_info > h5 {
    margin-top: 10px;
}